* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_5022 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_5023 {
  width: 100%;
  height: 900px;
  background: rgba(240,244,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v15_5024 {
  width: 100%;
  height: 44px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v15_5025 {
  width: 326px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 537px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v15_5026 {
  width: 580px;
  height: 800px;
  background: rgba(197,216,255,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 74px;
  left: 60px;
}
.v15_5027 {
  width: 580px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 56px;
  border: 1.5px solid rgba(187,206,240,1);
}
.v15_5028 {
  width: 580px;
  height: 56px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 56px;
}
.v15_5029 {
  width: 580px;
  height: 26px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 56px;
}
.v15_5030 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 259px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v15_5031 {
  width: 104px;
  height: 104px;
  background: rgba(227,237,255,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 294px;
  border: 2px solid rgba(144,184,248,1);
}
.v15_5032 {
  width: 76px;
  height: 76px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 308px;
}
.v15_5033 {
  width: 18px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 160px;
  left: 337px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v15_5034 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 187px;
  left: 314px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v15_5035 {
  width: 189px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 238px;
  left: 251px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v15_5036 {
  width: 195px;
  color: rgba(120,144,156,1);
  position: absolute;
  top: 264px;
  left: 248px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5037 {
  width: 492px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 100px;
  border: 1.5px solid rgba(227,237,255,1);
}
.v15_5038 {
  width: 129px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 310px;
  left: 100px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5039 {
  width: 492px;
  height: 42px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 100px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5040 {
  width: 132px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 344px;
  left: 118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5041 {
  width: 55px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 380px;
  left: 100px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5042 {
  width: 492px;
  height: 42px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 100px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5043 {
  width: 83px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 414px;
  left: 118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5044 {
  width: 24px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 415px;
  left: 536px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: right;
}
.v15_5045 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 100px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5046 {
  width: 99px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 457px;
  left: 120px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v15_5047 {
  width: 85px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 457px;
  left: 507px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: right;
}
.v15_5048 {
  width: 492px;
  height: 46px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 100px;
}
.v15_5049 {
  width: 492px;
  height: 46px;
  background: linear-gradient(rgba(255,255,255,1), rgba(0,0,0,0));
  opacity: 0.30000001192092896;
  position: absolute;
  top: 484px;
  left: 100px;
}
.v15_5050 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 498px;
  left: 303px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v15_5051 {
  width: 216px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 100px;
  border: 1px solid rgba(227,237,255,1);
}
.v15_5052 {
  width: 104px;
  color: rgba(144,164,174,1);
  position: absolute;
  top: 543px;
  left: 264px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v15_5053 {
  width: 216px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 376px;
  border: 1px solid rgba(227,237,255,1);
}
.v15_5054 {
  width: 238px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 564px;
  left: 100px;
  border: 1.5px solid rgba(224,224,224,1);
}
.v15_5055 {
  width: 56px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 577px;
  left: 191px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5056 {
  width: 238px;
  height: 40px;
  background: rgba(24,119,242,1);
  opacity: 1;
  position: absolute;
  top: 564px;
  left: 354px;
}
.v15_5057 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 577px;
  left: 445px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5058 {
  width: 195px;
  color: url("../images/v15_5058.png");
  position: absolute;
  top: 620px;
  left: 248px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5059 {
  width: 492px;
  height: 40px;
  background: rgba(255,235,238,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 100px;
  border: 1px solid rgba(239,154,154,1);
}
.v15_5060 {
  width: 168px;
  color: rgba(198,40,40,1);
  position: absolute;
  top: 668px;
  left: 118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v15_5061 {
  width: 180px;
  color: rgba(183,28,28,1);
  position: absolute;
  top: 655px;
  left: 160px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v15_5062 {
  width: 492px;
  height: 40px;
  background: rgba(232,245,233,1);
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 100px;
  border: 1px solid rgba(165,214,167,1);
}
.v15_5063 {
  width: 246px;
  color: rgba(46,125,50,1);
  position: absolute;
  top: 718px;
  left: 118px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v15_5064 {
  width: 116px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 834px;
  left: 288px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v15_5065 {
  width: 580px;
  height: 800px;
  background: rgba(197,216,255,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 74px;
  left: 762px;
}
.v15_5066 {
  width: 580px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 758px;
  border: 1.5px solid rgba(187,206,240,1);
}
.v15_5067 {
  width: 580px;
  height: 56px;
  background: rgba(13,71,161,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 758px;
}
.v15_5068 {
  width: 580px;
  height: 26px;
  background: rgba(13,71,161,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 758px;
}
.v15_5069 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 972px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v15_5070 {
  width: 114px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 141px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_5071 {
  width: 500px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 808px;
  border: 1px solid rgba(227,237,255,1);
}
.v15_5072 {
  width: 65px;
  color: url("../images/v15_5072.png");
  position: absolute;
  top: 170px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5073 {
  width: 480px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5074 {
  width: 80px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 203px;
  left: 826px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5075 {
  width: 42px;
  color: url("../images/v15_5075.png");
  position: absolute;
  top: 232px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5076 {
  width: 228px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5077 {
  width: 99px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 265px;
  left: 824px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5078 {
  width: 87px;
  color: url("../images/v15_5078.png");
  position: absolute;
  top: 232px;
  left: 1052px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5079 {
  width: 236px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 1052px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5080 {
  width: 80px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 265px;
  left: 1068px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5081 {
  width: 58px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 296px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5082 {
  width: 228px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5083 {
  width: 72px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 329px;
  left: 824px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5084 {
  width: 50px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 296px;
  left: 1052px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5085 {
  width: 236px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 1052px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5086 {
  width: 94px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 329px;
  left: 1068px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5087 {
  width: 40px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 360px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5088 {
  width: 480px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5089 {
  width: 272px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 393px;
  left: 824px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5090 {
  width: 114px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 427px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_5091 {
  width: 500px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 808px;
  border: 1px solid rgba(227,237,255,1);
}
.v15_5092 {
  width: 64px;
  color: url("../images/v15_5092.png");
  position: absolute;
  top: 456px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5093 {
  width: 228px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5094 {
  width: 54px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 489px;
  left: 824px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5095 {
  width: 122px;
  color: url("../images/v15_5095.png");
  position: absolute;
  top: 456px;
  left: 1052px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5096 {
  width: 236px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 1052px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5097 {
  width: 54px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 489px;
  left: 1068px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5098 {
  width: 92px;
  color: rgba(120,144,156,1);
  position: absolute;
  top: 518px;
  left: 808px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v15_5099 {
  width: 80px;
  height: 8px;
  background: rgba(239,154,154,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 900px;
}
.v15_5100 {
  width: 80px;
  height: 8px;
  background: rgba(102,187,106,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 900px;
}
.v15_5101 {
  width: 80px;
  height: 8px;
  background: rgba(102,187,106,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 988px;
}
.v15_5102 {
  width: 80px;
  height: 8px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 1076px;
}
.v15_5103 {
  width: 51px;
  color: rgba(102,187,106,1);
  position: absolute;
  top: 517px;
  left: 1034px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v15_5104 {
  width: 84px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 540px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5105 {
  width: 228px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 808px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5106 {
  width: 80px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 573px;
  left: 824px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5107 {
  width: 104px;
  color: rgba(69,90,100,1);
  position: absolute;
  top: 540px;
  left: 1052px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5108 {
  width: 236px;
  height: 40px;
  background: rgba(245,248,255,1);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 1052px;
  border: 1.5px solid rgba(144,184,248,1);
}
.v15_5109 {
  width: 91px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 573px;
  left: 1068px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_5110 {
  width: 14px;
  height: 14px;
  background: rgba(21,101,192,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 808px;
  border: 1px solid rgba(21,101,192,1);
}
.v15_5111 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 611px;
  left: 802px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5112 {
  width: 301px;
  color: url("../images/v15_5112.png");
  position: absolute;
  top: 614px;
  left: 830px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v15_5113 {
  width: 480px;
  height: 46px;
  background: rgba(13,71,161,1);
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 808px;
}
.v15_5114 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 654px;
  left: 993px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v15_5115 {
  width: 192px;
  color: url("../images/v15_5115.png");
  position: absolute;
  top: 698px;
  left: 952px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v15_5116 {
  width: 152px;
  color: rgba(176,190,197,1);
  position: absolute;
  top: 834px;
  left: 972px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v15_5117 {
  width: 100%;
  height: 16px;
  background: rgba(227,237,255,1);
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 56px;
}
.v15_5118 {
  width: 755px;
  color: rgba(21,101,192,1);
  position: absolute;
  top: 878px;
  left: 319px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
